body {
  background-color: #000;
  color: #090;
  font-size: 24px;
  font-family: Consolas;
}

canvas {
  display: block;
  margin: 20px auto;
}

.main-container {
  width: 800px;
  margin: 0 auto;
}

.main-menu {
  text-align: center;
  padding: 30px 0;
}

.main-menu__btn {
  color: #090;
  background-color: #000;
  border: 1px solid #090;
  width: 800px;
  height: 72px;
  cursor: pointer;
  font-size: 24px;
  font-family: Consolas;
}

.main-menu__btn:hover {
  color: #0b0;
  border-color: #0b0;
}

.main-menu__btn:focus {
  outline: 0;
}

.canvas-container {
  display: none;
}

.keys-instruction {
  text-align: right;
}
